<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/detail_product.js}"></script>
    <link th:href="@{/css/detail_product.css}" rel="stylesheet">
    <link th:href="@{/css/heather.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
    <title>상품 상세 정보</title>
</head>
<body class="product-registration-body">
<header>
    <div th:replace="~{fragments/navbar::navbar}"></div>
</header>
<main>
    <input type="hidden" name="id" th:value="${product.id}">
    <form id="productForm" method="POST">
        <h2>상품 상세 정보</h2>
        <div class="product-row">
            <div class="product-col-md-4">
                <!-- 메인이미지가 image-placeholder 내부에 위치하도록 설정 -->
                <div class="product-image-upload">
                    <div class="product-image-placeholder">
                        <img th:src="@{${product.mainPicturePath?.replace('src/main/resources/static', '')}}"
                             alt="상품 이미지"
                             style="max-width: 300px;"
                             class="product-image"
                             th:style="${product.mainPicturePath != null} ? 'display: block;' : 'display: none;'" />
                    </div>
                </div>
            </div>
            <div class="product-col-md-8">
                <label class="product-label product-mt-2" for="category">카테고리:</label>
                <select id="category" name="category" class="product-select" disabled>
                    <option th:selected="${product.category == 'tp'}" value="tp">상의</option>
                    <option th:selected="${product.category == 'jk'}" value="jk">자켓</option>
                    <option th:selected="${product.category == 'sk'}" value="sk">스커트</option>
                    <option th:selected="${product.category == 'pt'}" value="pt">바지</option>
                    <option th:selected="${product.category == 'et'}" value="et">잡화</option>
                </select>

                <label class="product-label product-mt-2" for="name">상품명:</label>
                <input type="text" id="name" name="name" class="product-input" th:value="${product.name}" readonly>

                <label class="product-label product-mt-2" for="price">가격:</label>
                <input type="number" id="price" name="price" class="product-input" th:value="${product.price}" readonly>

                <label class="product-label product-mt-2" for="quantity">재고 수량:</label>
                <input type="number" id="quantity" name="quantity" class="product-input" th:value="${product.quantity}" readonly>

                <!-- 공구 진행 상태 -->
                <div class="product-status product-mt-2">
                    <label>공구 진행 상태:</label>
                    <span th:text="${product.isCong == true ? '공구 가능' : '공구 불가'}"></span>
                </div>

                <!-- 숨겨진 필드로 공구 진행 상태 값 추가 -->
                <input type="hidden" id="isCong" th:value="${product.isCong}">

            </div>
        </div>
        <div class="product-detail-page product-mt-3">
            <!-- 설명 내용이 product-label 내부에 위치하도록 설정 -->
            <label class="product-label" for="description">설명:</label>
            <div id="description" class="ql-editor product-label" th:utext="${product.description}"></div>
        </div>
        <div class="button-container">
            <a class="product-button" th:href="@{/seller/product/edit/{id}(id=${product.id})}">수정</a>
            <button id="button_red" type="button">상품삭제</button>
        </div>
    </form>
</main>
<footer>
    <div class="footer-container">
        <p>&copy; 2024 WeatherWear. All rights reserved.</p>
        <ul>
            <li><a href="#">개인정보 처리방침</a></li>
            <li><a href="#">이용 약관</a></li>
        </ul>
    </div>
</footer>
</body>
</html>